/* Sign-In Page Styles */
.sign_in_page {
  display: block;
  justify-content: center;  /* Horizontal alignment */
  align-items: center;      /* Vertical alignment */
  min-height: 100vh;
  background-color: #f4f4f4;
  padding-top: 100px;
}

.amazon_img {
    display: flex;
    justify-content: center;
    align-items: center;
   padding-bottom: 20px;
}

.amazon_img img{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 50px;
    width: 120px;
    /* margin: 0 auto; */
}

.sign_in_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #111;
}

.input_group {
  margin-bottom: 15px;
}

.input_group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.input_group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.input_group input:focus {
  border-color: #0073e6;
}

.sign_in_btn {
  width: 100%;
  padding: 12px;
  background-color: #f0c14b;
  border: 1px solid #a88734;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  color: #111;
  font-weight: bold;
}

.sign_in_btn:hover {
  background-color: #e7b800;
}

.extra_options {
  text-align: center;
  margin-top: 10px;
}

.extra_options a {
  font-size: 14px;
  color: #0066c0;
  text-decoration: none;
}

.extra_options a:hover {
  text-decoration: underline;
}

.create_account {
  text-align: center;
  margin-top: 20px;
}

.create_account p {
  font-size: 14px;
}

.create_account a {
  font-size: 14px;
  color: #0066c0;
  text-decoration: none;
}

.create_account a:hover {
  text-decoration: underline;
}

.signup_btn{
  background-color: rgb(177, 173, 173);
  border: rgb(177, 173, 173) ;
  border-radius: 5px;
}