.payment_header{
    padding: 20px;
    text-align: center;
    font-size: 24px;
    background-color: rgba(232, 231, 231, 0.719);
}
.payment {
    padding: 30px;
}
.flex{
    display:flex;
    gap:20px;
    padding: 30px;
}
.flex h3{
    min-width: 300px;
}
.flex img{
    width: 80px !important;
}
.flex div{
    height: auto !important;
}
.payment_card_container{
    max-width: 350px;
    width: 100%;
}
.payment_Details{
    font: 20px;
}
.payment_order{
    display: flex;
    gap: 5px;
     padding-top:10px;
     padding-bottom:10px
    
}

@media Screen and (max-width:768px){
    .flex{
        flex-direction:column;
    }
}